/* Indigo: rgb(63, 81, 181) */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700");

:root {
	background-color: #F0F0F0;
}

body {
	background-color: #FAFAFA;
	box-shadow: 0 0.5em 1em #E0E0E0;
	color: #212121;
	font-family: 'Lato', 'Noto Sans', 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.35em;
	margin: 1em auto;
	max-width: 55em;
	padding: 1em 2em;
}

section {
	clear: both;
}

section section section {
	margin-left: 2em;
}

hr {
	background-color: #E0E0E0;
	border: none;
	clear: both;
	height: 1px;
	margin: 2rem -2rem;
}

h1 {
	background-color: rgb(63, 81, 181);
	color: #FFFFFF;
	font-size: 3.3rem;
	font-weight: 300;
	letter-spacing: -0.125rem;
	line-height: 1.2em;
	margin: -1rem -2rem 0;
	padding: 3em 2rem 0.5rem;
	word-spacing: 0.5rem;
}

h2 {
	font-size: 1.6rem;
	line-height: 1.2em;
	margin: 3em 0 0.5rem;
}

h3 {
	font-size: 1.2em;
	line-height: 1.2em;
	margin: 3em 0 0.5rem;
}

h4 {
	font-size: 1em;
	font-style: italic;
	line-height: 1.2em;
	margin: 2rem 0 0;
}

h2 + p,
h3 + p,
h4 + p {
	margin-top: 0;
}

figure {
	background-color: #FFFFFF;
	box-shadow: 0 0.125em 0.25em #E0E0E0;
	clear: both;
	color: #757575;
	float: right;
	font-size: 75%;
	line-height: 1.4em;
	margin: 0.5em -1.5em 0.5em 2em;
	padding: 0.5em;
	width: 15em;
}

figure img {
	margin-bottom: 0.5em;
	width: 100%;
}

figcaption {
	margin: 0.5em 0.5em 0;
}

figcaption header {
	font-weight: bold;
}

figcaption p {
	margin: 0;
}

aside {
	padding: 0 2em;
}

table {
	border-collapse: collapse;
	font-size: 1em;
	margin: 2em 1em;
}

tr:not(:last-child) > td {
	border-bottom: 1px solid #E0E0E0;
}

.v-ruled td:not(:last-child) {
	border-right: 1px solid #E0E0E0;
}

th,
td {
	padding: 0.5em 1em;
}

th:first-child:last-of-type {
	text-align: left;
}

th[colspan],
td[colspan] {
	text-align: center;
}

tr:first-child > th[rowspan] {
	vertical-align: bottom;
}

tr:not(:first-child) > th[rowspan],
tr:not(:first-child) > td[rowspan] {
	vertical-align: top;
}

ul,
ol {
	padding-left: 2em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 0.5em;
}

.small {
	font-size: 75%;
}

.pre,
.literal,
code,
pre,
samp,
var {
	background-color: #E6E6E6;
	border-radius: 0.125em;
	font-family: monospace;
	padding: 0 0.25em;
	margin: 0;
}

.pre,
code,
pre,
samp,
var {
	color: #E61919;
	white-space: pre-wrap;
}

.literal,
samp {
	color: #339999;
}

.meta {
	background-color: #420000;
	color: #BDBDBD;
	font-style: italic;
}

.updated {
	text-shadow: 0 0 0.25em #FFFF55;
}

.updated-aged {
	text-shadow: 0 0 0.25em #FFFFAB;
}

.incomplete {
	background-color: #EEBBBB;
	padding: 0.25em;
}

.unused {
	background-color: #E0E0E0;
	opacity: 0.12;
	text-decoration: line-through;
}

@media print {
	:root {
		background-color: transparent;
	}
	
	body {
		background-color: transparent;
		box-shadow: none;
		color: #000000;
		font-size: 12pt;
	}
	
	h1 {
		padding-top: 1em;
	}
	
	hr {
		border: 1px solid #E0E0E0;
		height: 0;
	}
	
	figure {
		border: 1px solid #E0E0E0;
		box-shadow: none;
	}
	
	code::before,
	code::after {
		content: "`";
	}
	
	.updated {
		text-decoration: underline;
	}
}